#post-text{
    display:block;
}
#post-title{
    margin-left:5px;
    height:30px;
}

#post-category{
    height: 30px;
}

label{
    display:block;
}

input[type="file"]{
    margin-top:5px;
}

#send-post{
    margin-top:10px;
    margin-right:15px;
    height: 40px;
    display:inline-block;
    width:180px;
    border-radius:5px;
    background-color: rgba(111,128,135,0.90);
    color:rgba(255,255,255,0.80);
    box-shadow: 2px 2px 1px rgba(111,128,135,0.40);
    border: none;
}

.loader {
    border: 5px solid darkgrey; /* Light grey */
    border-top: 5px solid blue; /* Blue */
    border-radius: 50%;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    display:none;
    vertical-align: middle;
}

#send-msg{
    display:none;
}

.spin{
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
